
@{
    ViewData["Title"] = "Metinden Sese Dönüştürme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<form method="post">
    <div class="form-group">
        <label>Lütfen seslendirilecek <strong>İngilizce</strong> metni yazınız</label>
        <input type="text" name="text" class="form-control" />
    </div>

    <div class="form-group">
        <button class="btn btn-outline-primary">Sese Dönüştür</button>
    </div>
</form>



