

@{
    ViewData["Title"] = "Metni İngilizceye Çevir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form method="post">
    <div class="form-group">
        <label>Lütfen İngilizceye çevrilecek metni yazınız</label>
        <input type="text" name="text" class="form-control" required />
    </div>

    <div class="form-group">
        <button class="btn btn-outline-primary">Çevir</button>
    </div>
</form>


@if (ViewBag.response != null)
{
    <div class="alert alert-info mt-2">
        <strong>Orijinal Metin:</strong>
        <p>
            @ViewBag.text
        </p>
        

        <strong>İngilizce Çevirisi:</strong>
        <p>
            @ViewBag.response
        </p>
    </div>
}

