
@{
    ViewData["Title"] = "Google Cloud Vision ile Image Detection";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <h3>Görselden Nesne Analizi için Resim Dosyası Seçin</h3>
        <label>Resim Dosyasını seçin</label>
        <input type="file" name="imageFile" />

    </div>

    <br />
    <button class="btn btn-outline-primary">Analiz Et</button>
</form>


@if (ViewBag.response != null)
{
    <div class="alert alert-info">
        <strong>Resmin Analizi: </strong>
        <p>
            @ViewBag.response
        </p>
    </div>
}